/*Es una mala practica*/
@import url();

h1{
    border: solid;
    color: black;
    background-color: blue;
    text-align: center;
}

p{
    color: green;
}

/*
    Selectores basicos
    etiquetas: Son elementos HTML
    identificadores: en el HTMl se pone el id y en el CSS se nombre con #
    clases: en el HTML se pone class y en el CSS se nombra con un punto (.)
*/

/*Se considera una mala practica o antipatron*/
#parrafo-dos{
    background-color: skyblue;
}

