/*Es una mala practica*/
@import url();

body{
    background-color: rgb(161, 153, 153);
}

h1{
    border: solid;
    color: black;
    background-color: skyblue;
    text-align: center;
}

h2{
    border:crimson;
    color: black;
    background-color: rgb(237, 86, 69);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}



p{
    color: green;
}

/*
    Selectores basicos
    etiquetas: Son elementos HTML
    identificadores: en el HTMl se pone el id y en el CSS se nombre con #
    clases: en el HTML se pone class y en el CSS se nombra con un punto (.)
*/

/*Se considera una mala practica o antipatron*/
#parrafo-dos{
    background-color: skyblue;
}

.hijos-directos > li{
    background-color: red;
}

.hijos-descendientes b{
    background-color: aqua;
}

/*Seletor de hermanos general*/
.hermanos-general ~ li{
    background-color: blueviolet;
}

/*Selectores de atributos*/
.selectores-atributos a[href]{
    color:orangered
}

.selectores-atributos a[target = "_blank"]{
    font-weight: bold;
}

/* el asterisco es un comodin que sirve para aplicar el estilo si contiene la
palabra en cuestion*/
.selectores-atributos a[href*= "jonmircha"]{
    font-size: 24px;
}

/* el operador circunflejo es un comodin que sirve para aplicar el estilo si empieza la
palabra en cuestion, osea tiene que empezar con el parametro que le estamos diciendo*/
.selectores-atributos a[href^="http://"]{
    text-decoration: none;
}

/* el operador dolar $ es un comodin que sirve para aplicar el estilo si finaliza la
palabra en cuestion, osea tiene que terminar con el parametro que le estamos diciendo*/
.selectores-atributos a[href$=".com"]{
    background-color: blue;
}

/* el operador dolar ~ es un comodin que sirve para aplicar el estilo si contiene la
palabra en cuestion, osea tiene que contener en cualquier lado con el parametro que le estamos diciendo*/
.selectores-atributos a[class~="cursos"]{
    background-color: rgb(22, 22, 58);
}

/* el comodin | aplica al estilo si contiene el texto en cuestion de una lista separadas por 
espacios y que despues del texto en cuestion venga un guion medio*/

.selectores-atributos a[class |= "menu"]{
    font-style: italic;
}

/* Pseudoclases: Dan estilos dependiendo del contexto, posicion o estado del elemento*/
/* El asterisco significa todo*/
.form-pseudoclases *:required{
    border-color: blueviolet;
}

.form-pseudoclases *:valid{
    border-color: green;
}

.form-pseudoclases *:invalid{
    border-color: red;
}

.form-pseudoclases *:focus{
    background-color: skyblue;
}

.form-pseudoclases *:disabled{
    background-color: pink;
}

.menu-pseudoclases a:hover{
    color: orange;
}

.menu-pseudoclases a:visited{
    color: olive;
}

.p-pseudoclase:hover{
    color: blue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    border-style: double;
}

.lista-pseudoclases li:first-child{
    color: green
}

.lista-pseudoclases li:last-child{
    color:rgb(180, 188, 34)
}

.lista-pseudoclases li:nth-child(3){
    color: navy;
}

.lista-pseudoclases li:nth-child(4n){
    color: navy;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lista-pseudoclases li:nth-child(even){
    background-color: aquamarine;
}

.lista-pseudoclases li:nth-child(odd ){
    background-color: rgb(25, 157, 27);
}

/*Los pseudolementos nos permiten dar estilos a partes especificas de un elemento
se usa el :: para diferenciarlo de las pseudoclases*/

.saga-geminis::after{
    content: "👾♏";
}

.saga-precio::before{
    content: "$";
    font-weight: bold;
}

.saga-precio::after{
    content: "USD";
    font-weight: bold;
}

.p-pseudolementos::first-line{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: coral;
}

.p-pseudolementos::selection{
    color: greenyellow;
    background-color: black;
}

.input-pseudoelementos::placeholder{
    color:green;
    background-color: black;
}

/*
agrupar selectores
*/

.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea{
    border-color: yellow;
    border-width: 2px;
    border-style: dashed;
    background-color: black;
    font-size: 20px;
    display: block;
    width: 300px;
}

/*El algoritmo de CSS es la forma en la que el navegador aplica los estilos al documento HTML
es vital entender este concepto para que se pueda entender como se aplican y algunas ocasiones
como se sobreescriben las reglas CSS*/

#algoritmo-css{
    background-color: rgb(173, 199, 247);
    background: linear-gradient(green,black);
    border-style: double;
    border-width: 10px;
    box-shadow: 20px;
    border-radius: 10px;
    border-color: red;
    padding: 2%;
    margin-top: 0%;
    justify-content: center;
    text-align: center;
    padding-left: 4px;
    box-sizing:border-box;
    width: 50%;
    margin: auto;
}

#algoritmo-css:hover{
    border-inline:inherit;
    border-top: inherit;
    border-bottom: inherit;
}

.lista-algoritmo-css li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    font-style: italic;
    font-weight: bold;
    padding-left: 4px;
    padding: 10px;
}

.lista-algoritmo-css li:hover{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    font-style:italic;
    background-color: chartreuse;
}

blockquote {
    color: rgb(143, 42, 244);
} 