body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background: #222;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    padding: 10px;
    color: red;
}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
}

input, textarea{
    min-width: 100%;
    box-sizing: border-box;
    margin: 20px;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    border-right: 3px solid #999;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    color: white;
}

textarea{
    resize: vertical;
    min-width: 100%;
    min-height: 100px;
    max-height: 150px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    form-sizing: content;
}

.form_input{
    padding: 6px 20px;

}