body{
    background-color: #0f0;
}

.box{
    width: 200px;
    height: 200px;
    margin: 20px;
    /*
    Propiedad mas basica de los fondos en css
    */
    background-color: #f3ef;
    position: absolute;
    top: 0;
}