.formulario{
    background: red;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    /*ESto se mira al sentido de las
    agujas del reloj*/
    padding: 10px 0 40px 20px;

    /*Aqui va otra forma de utilizar el
    padding, se tiene que el vertical es
    el primer numero y el segundo los
    valores horizontales*/
    padding: 10px 50px;
}

.formulario_input{
    padding: 6px 10px;
    width: 100px;
}

.boton{
    background: brown;
    height: 150px;
    width: 150px;
    margin: 30px;
    padding: 50px;
}