.box{
    background-color: black;
    margin: 2rem auto;
    width: 400px;
    height: 400px;
    border: thick solid red;
}

.border-radius{
    background-color: black;
    border: thick solid red;
    margin: 2rem auto;
    width: 400px;
    height: 400px;
    /*border-top-left-radius: 4rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 4rem;*/
    border-radius: 2rem;
}

.border-radius-2{
    border-radius: 2rem / 4rem;
}

.border-radius-3{
    border-radius: 50%;
}

.border-radius-4{
    width: 400px;
    height: 200px;
    border-radius: 50%;
}

.outline{
    color: white;
    text-align: center;
    outline-width: 5px;
    outline-style: solid;
    outline-color: blueviolet;
    outline-offset: 3rem;
    outline-offset: -3rem;
}

/*Estilos de imagen en CSS*/
img{
    display: block;
    margin: 2rem auto;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}