.box{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 100px
}

#dos{
    position: relative;
    top: 20px;
    left: 20px;
    background-color: green;
}