body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine; 
}
.imagenes-container{
    margin: 50px 100px;
    width: 400px;
    display: flex;
}
.imagenes-container .imagen{
    position: relative;
    margin-right: 100px;
    display: inline;
    flex-direction: column;
}
.imagenes-container.imagen img{
    width: 50px;
    height: 50px;
}
.imagen-pajaro{
    width: 400px;
    height: 400px;
}