.color-transparent-current{
    background-color: darkmagenta;
    background-color: transparent;
    background-color: currentColor;
    color: orangered;
    color: olive;
    border: thick solid currentColor;
}

.opacity{
    background-color: aqua;
    border: thick solid rgb(234, 134, 178);
    opacity: 0.7;
}